.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
   padding-left: 60px;
}
.items , .user {
    display: flex;
    align-items: center;
    gap: 10px;

}
.info{
    display: flex;
    align-items: center;
}
.input-field{
    padding: 12px 10px;
    width: 391px;
    border-radius: 4px;
    border: 1px solid lightgray;
    outline: none;
}
.info{
    margin-bottom: 0.5rem;
}

.items{
    overflow: hidden;
}

.user::before{
    border-left: 0.5px solid lightgray;
    content: "";
    height: 30px;
}   

.user >img{
    margin-top:10px;
}

.navbar-section{
    padding: 15px 0;
    border-bottom: 0.5px solid lightgray;
    padding-left: 20px;
}
