.sidebar{
    height: 800px;
    width: 310px;
    background: var(--sidebar-grey);
    float: left;
    padding: 20px;
}
.navs{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
}
.logo{
    display: flex;
}
.nav-links{
    Padding:8px 32px 8px 32px;
    text-wrap: nowrap;
    width: 240px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.3s;
}
.nav-links > img{
    width: 30px;
    margin-left: 20px;
}

.links{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.logo >.img{
    width: 150px;
}
.logo >img{
    width: 80px;
}
.navs a.active{
    background-color: var(--white);
    color: var(--green);
}
.navs a:hover{
    color: rgba(200, 200, 115, 0.742);
}
/* change the color of svg image when link is active  */
.green-btn{
    background-color: var(--green);
    color: var(--white);
    cursor: pointer;
    border: none;
}

.outline-btn{
    padding:8px 18px ;
    border-radius: 4px;
    border: 1px solid var(--green);
    background-color: transparent;
    color: var(--green);
}

.navs > .help{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    background-color: var(--white);
    padding: 30px 40px;
    margin-top: 30px;
}

.navs .title{
    background: linear-gradient(to right,var(--green),purple);
    background-clip:text;
    display: inline;
    color: transparent;
}

.help .small-text{
    font-size: 12px;
    font-weight: 400;
    color: grey;
}