#root {
  --sidebar-grey:#F0F4F4;
  --green:#247B7B;
  --red:#990000;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding:0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}